.description {
  position: relative;
  color: white;
  font-size: 3vw;
  text-transform: uppercase;
  margin-top: 35vw;
  margin-left: 10vw;
  /* margin-bottom: 20vw; */
}
.description p {
  margin: 0px;
  position: relative;
}
